# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# IDE Settings
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Local Dataset
data/

# Local Submission Files
GenAR-AI-Challenge-Submission/